@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Work+Sans:300');

html {
  display: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-image: url(http://placekitten.com/800/800);
  background-size: cover;
  z-index: -2;
}

header {
  text-align: center;
  margin: 30px 0px 30px 0px;
  color: white;
}

main,
section {
  background-color: white;
  opacity: .8;
  padding: 2%;
  margin-top: 15px;
}

#hero {
  color: #397093;
  padding: 2%;
  width: 50%;
  margin: 2px 30px;
  background-color: white;
}

#hero-background {
  background-image: url("http://placekitten.com/940/540");
  background-size: cover;
  width: 98%;
  height: 577px;
  margin: 1%;
  opacity: 1 !important;
}

#hero button {
  margin-top: 50px;
}

nav {
  z-index: 1;
}

.navbar {
  background-color: #236188;
  height: 37px;
  text-align: center;
  justify-content: center;
  padding:0;
}

.navbar-nav{
  width:100%;
  padding:0;
  margin:0;
}

.navs{
  padding:0;
}

.nav-item:hover, .dropdown-menu:hover {
  background-color: #8bbddd;
  color: black;
  transition: .3s ease-in-out;
}

.dropdown-menu {
  display: none;
  position: absolute;
  margin-top: 3px;
  background-color: #236188;
  padding: 8px;
  border: 0;
  border-radius: 0;
  text-align: center;
  width:100%;
}
.dropdown-item{
width:100%;
padding: 0;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

/* Service Page */
.serviceTitle {
  font-weight: bold;
}

.table th{
  border:none;
}

.table thead th{
  font-size: 10px;
  color: #A98200;
  text-decoration: underline;
  font-family: 'Josefin Slab', serif;
  border:none;
}

.serviceRow{
  margin-bottom: 20px;
}
.serviceImage {
  height: auto;
  width: auto;
  margin:1%;
}

#contactBtn {
  float:right;
}

footer {
  background-color: #236188;
  text-align: left;
  color: white;
  padding: 1%;
  height: 48px;
}

button {
  background-color: #236188;
  border: none;
  color: white;
  padding: 5px 35px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
a{
  color: white !important;
}

p, td {
  font-size: 15px;
  color: #236188;
}

h1,
h2 {
  font-family: 'Josefin Slab', serif;
}

h2 {
  color: #A98200;
  margin-bottom: 20px;
}


h6 {
  font-size: 12px;
}

p,
h4,
h5,
h6 {
  line-height: 1.4em;
  font-family: 'Work Sans', sans-serif;
}