@media (min-width: 320px) {
  header {
    text-align: center;
    margin: 50px 0px 20px 0px;
    color: white;
  }

  header h1 {
    font-size: 40px;
  }
}

@media  (min-width: 1024px) {
header {
    text-align: center;
    margin: 30px 0px 30px 0px;
    color: white;
  }
}