@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Work+Sans:300');

html {
  display: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-image: url(http://placekitten.com/800/800);
  background-size: cover;
  z-index: -2;
}

header h1 {
  font-size: 50px;
}

main,
section {
  background-color: #ffffffe3;
  padding: 2% 3%;
  margin-top: 15px;
}

button {
  background-color: #236188;
  border: none;
  color: white;
  padding: 5px 35px;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

a:hover {
  color: #000 !important;
  background-color: transparent !important;
}

a {
  color: white !important;
}

p,
td {
  font-size: 15px;
  color: #236188;
}

h1,
h2 {
  font-family: 'Josefin Slab', serif;
}

h1 {
  font-size: 55px;
}

h2 {
  color: #A98200;
  margin-bottom: 15px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 14px;
  padding-top: 5px;
}

h6 {
  font-size: 12px;
}

p,
h4,
h5,
h6,
button {
  line-height: 1.4em;
  font-family: 'Work Sans', sans-serif;
}